.help-container {
	background-color: #f0f0f0; 
	padding: 50px 20px;
	text-align: center;
}
  
.help-title {
	font-family: Graphik-Medium, sans-serif;
	font-size: 25px;
	font-weight: bold;
	line-height: 43.2px;
	color: rgb(11, 12, 15);
	margin-bottom: 10px;
}
  
.help-text {
	font-family: Graphik, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: rgb(11, 12, 15);
	margin-bottom: 30px;
	text-align: center;
}
  
.help-portion {
	display: flex;
	justify-content: center; 
	gap: 40px; 
}

.help-portion > div {
	display: flex;
	background-color: white;
	border-radius: 8px;
	padding: 30px;
	width: 600px; 
	text-align: left;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.help-portion img {
	width: 50px; 
	height: 50px;
	margin-bottom: 20px;
}
  
.help-portion h4, .help-portion h3 {
	font-family: Graphik-Medium, sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 28px;
	color: rgb(0, 114, 210);
	margin-bottom: 10px;
	text-align: center;
}
  
.help-portion h4 a, .help-portion h3 a {
	text-decoration: none;
	color: inherit; 
}
  
.help-portion h4 a:hover, .help-portion h3 a:hover {
	text-decoration: underline;
}
  
.help-portion p {
	font-size: 1em;
	color: #666;
	line-height: 1.6;
}
  
@media screen and (max-width: 768px) {
	.help-portion {
	  flex-direction: column;
	  gap: 20px; 
	  align-items: center; 
	}
  
	.help-portion > div {
	  width: 80%; 
	  padding: 20px;
	  text-align: center; 
	  justify-content: center;
	  align-items: center;
	  flex-direction: column;
	}
  
	.help-title {
	  font-size: 22px; 
	}
  
	.help-text {
	  font-size: 14px; 
	}
  
	.help-portion img {
	  width: 40px; 
	  height: 40px;
	}
  
	.help-portion h4, .help-portion h3 {
	  font-size: 14px; 
	}
  
	.help-portion p {
	  font-size: 0.9em; 
	}
}
  

@media screen and (max-width: 400px) {
	.help-container {
	  padding: 30px 10px; 
	}
  
	.help-title {
	  font-size: 20px; 
	}

	.help-text {
	  font-size: 13px; 
	}
  
	.help-portion {
	  flex-direction: column; 
	  gap: 15px; 
	  align-items: center; 
	}
  
	.help-portion > div {
	  width: 90%; 
	  padding: 15px;
	  text-align: center;
	  justify-content: center;
	  align-items: center;
	  flex-direction: column;
	}
  
	.help-portion img {
	  width: 35px; 
	  height: 35px;
	}
  
	.help-portion h4, .help-portion h3 {
	  font-size: 12px; 
	}
  
	.help-portion p {
	  font-size: 0.85em; 
	}
}
