.pricing-sticky {
    position: sticky;
    top: 0;
    z-index: 50; 
    padding: 10px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
    width: 100%;
}

.pricing-title {
    width: 150px;
    margin: 0 auto 10px auto;
    padding: 4px 10px;
    border-radius: 20px;
}

.pricing-portion {
    width: 70%;
}

.pricing-btn {
    height: 50px;
    border: none;
    border-radius: 5px;
    transition: filter 0.3s ease-in-out;
}

.pricing-btn:hover {
    filter: brightness(80%);
}

.table-container {
    width: 80%;
    margin: auto;
}

.table-line {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px auto;
    width: 60%;
}

.table-row {
    position: relative;
}

.table-row::before,
.table-row::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    border-top: 1px solid #ccc;
}

.table-row::before {
    top: 0; 
}

.table-row::after {
    bottom: 0;
}

.table-heading {
    width: 40%;
    position: relative;
    padding-right: 10px;
}

.table-value {
    width: 30%;
    position: relative;
    padding: 0 5px;
}

.table-value:last-child {
    text-align: right;
}

.discount {
    text-decoration: line-through;
    margin-right: 5px;
}

.table-btn {
    background: none;
    border: none;
    gap: 5px;
    padding: 10px;

  }
  
.add-on-table {
    width: 60%;
    margin: 20px auto;
    position: relative;
}

.rotate-icon {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }

.add-on-row {
    position: relative;
}

.add-on-row::before,
.add-on-row::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    border-top: 1px solid #ccc;
}

.add-on-row::before {
    top: 0; 
}

.add-on-row::after {
    bottom: 0; 
}

.add-on-name {
    width: 40%;
    position: relative;
    padding-right: 10px;
    z-index: 1;
}

.add-on-value {
    width: 30%;
    position: relative;
    padding: 0 5px;
    z-index: 1;
}

.add-on-value:last-child {
    text-align: right;
}

@media screen and (max-width: 768px) {

    .pricing-portion {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
    }
  
    .available{
    width: 80vw;
      }
    
      .add-content{
   width: auto;
      }
}

@media screen and (max-width: 440px) {
    .table-container,
    .add-on-table {
        overflow-x: auto;
        width: 100%;
    }

    .table-content,
    .add-on-table {
        display: block;
        min-width: 400px;
    }

    .table-heading,
    .table-value,
    .add-on-name,
    .add-on-value {
        font-size: 12px;
        min-width: 80px;
    }

    .table-row,
    .add-on-row {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .pricing-btn {
        width: 90%;
    }
}