.plan-footer {
	background-color: #16181D;
	padding: 2px 0px;
  }
  
  .plan-foot-title {
	font-size: 50px;
	font-family: Arial, Helvetica, sans-serif;
  }
  
  .plan-foot-tag a {
	font-family: Graphik, sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	color: rgb(197, 202, 211);
	text-decoration: none;
  }
  
  .plan-foot-tag a:hover {
	text-decoration: underline;
  }
  

  /* @media screen and (max-width: 768px) {
	.plan-foot-title {
	  font-size: 40px; 
	}
  
	.plan-foot-tag {
	  flex-direction: column;
	  gap: 15px; 
	  justify-content: center; 
	  align-items: center; 
	}
  
	.plan-foot-tag a {
	  font-size: 14px; 
	}
  
	.plan-copyright {
	  font-size: 14px; 
	}
  } 
  @media screen and (max-width: 400px) {
	.plan-foot-title {
	  font-size: 30px; 
	}
	.plan-foot-tag {
	  flex-direction: column;
	  gap: 10px; 
	  justify-content: center; 
	  align-items: center; 
	}
	.plan-foot-tag a {
	  font-size: 14px; 
	}
  
	.plan-copyright {
	  font-size: 14px; 
	}
  } */
  