.show-item:hover {
	outline: 5px solid gray;
}

.show-item:hover img {
	cursor: pointer;
	filter: brightness(60%);
}

.show-overlay {
	position: absolute;
	bottom: 0; 
	left: 0;
	width: 100%;
	color: white;
	font-weight: bold;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); 
	padding: 20px;
	border-radius: 0 0 10px 10px; 
	/* display: flex;
	flex-direction: column; */
}

.show-overlay h3 {
	font-size: 12px;
	margin: 0;
	text-transform: uppercase;
	opacity: 0.9;
	color: white;
}

.show-overlay h2 {
	font-size: 18px;
	margin: 5px 0 0;
	font-weight: bold;
}

.show-item {
	position: relative;
	/* width: 280px; */
	height: 440px;
	border-radius: 10px;
	overflow: hidden;
	transition: outline 0.2s ease-in-out;
}

@media screen and (max-width:400px) {
	.show-content2{
		text-align: end;
		font-size: 9px;
		width: 350px;
		
	}
}
