.movies-portion{
	background-color: #070C0F;
}

.movies-portion-a h1{
	font-family: "Graphik Web", Graphik, sans-serif;
font-size: 40px;
font-weight: 700;
line-height: 46.4px;
color: rgb(255, 255, 255);
}

.box-content{
padding-bottom: 10px;
}

.portion-a-movies img{
	width: 500px;
	border: none;
	border-radius: 3px;
}

@media screen and (max-width:786px) {	
	.portion-a-movies img{
		width: 200px;
	}
}