.plan-nav-container {
	background-color: #202124;
	padding: 5px 20px; 
  }
  
 
  
  .plan-nav a {
	font-weight: bold;
	font-size: 1.8em; 
	color: #1CE783; 
	text-decoration: none;
	margin-right: 20px; 
  }
  
  .plan-nav button {
	border: 1px solid white; 
	border-radius: 5px; 
  }
  
  .plan-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .plan-nav ul li {
	margin-right: 20px; 
  }
  
  .plan-nav ul li a {
	font-family: Graphik, sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 68px;
color: rgb(255, 255, 255);
  }
  
  .plan-nav ul li a:hover{
	text-decoration: underline;
  }

  .nav-search-bar {
	border: none;
  }
  
  .nav-search-bar input[type="text"] {
	
	border: none;
	width: 300px;
	height: 30px;
	padding: 8px 15px;
	border-radius: 5px;
	margin-right: 10px; 
  }
  
  .nav-search-bar button {
	background-color: transparent;
	border: none ;
  }

  .nav-search-bar button:hover{
	text-decoration: underline;
  }

  .search-input-container {
	position: relative; 
	display: flex; 
	align-items: center; 
	background-color: white;
border-radius: 5px;

  }
  
  .search-input-container input[type="text"] {
	padding-right: 30px; 
outline: none;
  }
  
  .search-icon {
	position: relative;
	color: black; 
	font-size: 16px; 
  }

  .desktop-menu {
	display: flex;
	gap: 20px;
  }
  
  .mobile-menu-icon {
	display: none;
  }

@media screen and (max-width: 768px) {
	.plan-nav-container {
	  flex-direction: column;
	  align-items: center;
	  padding: 10px;
	}
  
	.plan-nav {
	  flex-direction: column;
	  text-align: center;
	  width: 100%;
	}
  
	.desktop-menu {
		display: none;
	  }
	  .mobile-menu-icon {
		display: block;
	  }

	.plan-nav a {
	  font-size: 1.5em; 
	  margin-bottom: 5px;
	}
  
	.plan-nav button {
	  font-size: 14px;
	  padding: 5px 10px;
	  margin-bottom: 10px;
	}
  
	.plan-nav ul {
	  flex-direction: column;
	  align-items: center;
	  padding: 0;
	}
  
	.plan-nav ul li {
	  margin: 5px 0;
	}
  
	.plan-nav ul li a {
	  font-size: 14px;
	  line-height: normal;
	}
  
	.nav-search-bar {
	  justify-content: center;
	  width: 100%;
	}
  
	.nav-search-bar input[type="text"] {
	  width: 80%;
	  max-width: 300px;
	  font-size: 14px;
	  padding: 5px 10px;
	}
  
	.nav-search-bar button {
	  font-size: 14px;
	  padding: 5px 10px;
	}
  
	.search-input-container {
	  width: 90%;
	}
  
	.search-icon {
	  font-size: 18px;
	}
  }
  
  /* @media screen and (max-width: 400px) {
	.plan-nav-container {
	  flex-direction: column;
	  align-items: center;
	  padding: 10px;
	}
  
	.plan-nav {
	  flex-direction: column;
	  text-align: center;
	  width: 100%;
	}
  
	.plan-nav a {
	  font-size: 1.2em; 
	  margin-bottom: 5px;
	}
  
	.plan-nav button {
	  font-size: 12px;
	  padding: 5px 10px;
	  margin-bottom: 10px;
	}
  
	.plan-nav ul {
	  flex-direction: column;
	  align-items: center;
	  padding: 0;
	}
  
	.plan-nav ul li {
	  margin: 5px 0;
	}
  
	.plan-nav ul li a {
	  font-size: 12px;
	  line-height: normal;
	}
  
	.nav-search-bar {
	  justify-content: center;
	  width: 100%;
	}
  
	.nav-search-bar input[type="text"] {
	  width: 80%;
	  max-width: 250px;
	  font-size: 12px;
	  padding: 5px 10px;
	}
  
	.nav-search-bar button {
	  font-size: 12px;
	  padding: 5px 10px;
	}
  
	.search-input-container {
	  width: 90%;
	}
  
	.search-icon {
	  font-size: 14px;
	}
  } */
  
  
