/* .dropdown-btn {
    position: relative;
    display: inline-block;
	margin-bottom: 10px;
}

.dropdown-toggle1 {
    border: none;
    height: 40px;
    border-radius: 25px;
    transition: background-color  0.3s ease-in-out;
}

.dropdown-menu {
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 5px 0;
    z-index: 100;
    display: none; 
}

.dropdown-btn.open .dropdown-menu {
    display: block;
}

.dropdown-item {
    display: block;
    padding: 12px 20px;
    font-family: "Graphik Web", Graphik, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: rgb(4, 4, 5);
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.dropdown-btn.open .dropdown-menu {
    animation: fadeIn 0.2s ease-in-out;
}

@media screen and (max-width: 768px) {
    .dropdown-menu {
        left: 40%;
        width: 210px;
        
    }
} */
