.faq-container {
	padding: 40px 20px;
  }
  
  .faq-portion {
	max-width: 800px;
	margin: 0 auto;
  }
  
  .faq-portion h2 {                       
	margin-bottom: 10px;
  }
  
  .faq-portion p {
	font-size: 16px;
	color: rgb(39, 44, 52);
  }
  
  .faq-options {
	max-width: 800px;
	margin: 30px auto;
  }
  
  .faq-item {
	border-bottom: 1px solid #ddd;
  }
  
  .faq-question:hover {
	background-color: #f8f8f8;
  }
  
  .questionnaire {
	font-size: 18px;
	color: rgb(39, 44, 52);
	flex-grow: 1;
  }
  
  .faq-icon {
	width: 44px;
	height: 44px;
	transition: transform 0.3s ease;
  }
  
  .faq-icon.rotated {
	transform: rotate(180deg);
  }
  