.bundle-container {
    background-image: url("../../images/bundle-images/bundle-bg.png");
    background-size: cover;
    opacity: 0.9;
    overflow: visible;
    position: relative;
    min-height: 80vh; /* Ensure full height */
}

.navbar1 {
    /* position: sticky; */
    /* position: -webkit-sticky; */
    top: 0;
    z-index: 1000;
    height: 80px;
    opacity: 1; /* Make sure it's not transparent */
	display: flex;
	justify-content: space-between;
	height: 50px;
	align-items: center;
}



.navbar1 a{
	text-decoration: none;
}

.heading{
	color: white;
	font-size: 12px;
}

.basic-title{
	font-family: "Graphik Web", Graphik, sans-serif;
font-size: 48px;
font-weight: 600;
line-height: 60px;
color: rgb(255, 255, 255);
text-align: center;
}

.basic-hero-footer{
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero-btn2{
	width: 150px;
	margin: 20px 0px;
}

.scroll-down {
	text-align: center;
	margin-top: 50px;
	padding-bottom: 50px;
}

.scroll-down p{
	text-align: center;
	font-family: Graphik, Helvetica, Arial, sans-serif;
font-size: 13px;
font-weight: 400;
line-height: 20.8px;
color: rgb(255, 255, 255);
}

.scroll-down img{
		width: 30px;
		border: 3px solid #e9f2f8;
}

.scroll-down img:hover{
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	.bundle-cont-img{
		width: 450px;
	}
}

@media screen and (max-width: 400px) {
	.bundle-cont-img{
		width: 300px;
	}
}