.bundle-container {
    background-image: url("../../images/bundle-images/bundle-bg.png");
    background-size: cover;
    opacity: 0.9;
    overflow: visible;
    position: relative;
    min-height: 80vh; /* Ensure full height */
}

.navbar1 {
    /* position: sticky; */
    /* position: -webkit-sticky; */
    top: 0;
    z-index: 1000;
    height: 80px;
    opacity: 1; 
	display: flex;
	justify-content: space-between;
	height: 50px;
	align-items: center;
}



.navbar1 a{
	text-decoration: none;
}

.heading{
	color: white;
	font-size: 12px;
}

.bundle-cont-img{
	width: 500px;
}

.basic-title{
	font-family: "Graphik Web", Graphik, sans-serif;
font-size: 48px;
font-weight: 600;
line-height: 60px;
color: rgb(255, 255, 255);
text-align: center;
}

.basic-hero-footer{
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero-btn2{
	width: 150px;
	margin: 20px 0px;
}

/* .popover-white-bg {
	background-color: white !important;
	border: 1px solid #ddd;
	color: black;
  } */
  
  /* .popover-white-bg .popover-header,
  .popover-white-bg .popover-body {
	background-color: white !important;
	color: black;
  } */
  

.scroll-down {
	text-align: center;
	margin-top: 50px;
	padding-bottom: 50px;
}

.scroll-down p{
	text-align: center;
	font-family: Graphik, Helvetica, Arial, sans-serif;
font-size: 13px;
font-weight: 400;
line-height: 20.8px;
color: rgb(255, 255, 255);
}

.down-icon{
		color: white;
}

.scroll-down img:hover{
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	.bundle-cont-img{
		width: 300px;
	}

.hero-btn-footer1{
	text-align: center;
}

}
