.footer-container {
    background-color: #E8EAED;
    font-family: Arial, sans-serif;
}

.footer-links {
    max-width: 1300px;
    margin: 0 auto;
}

.footer-link-items:nth-child(1) {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(2, minmax(120px, auto));
    column-gap: 40px;
}

.footer-link-items {
    flex: 1;
    min-width: 180px;
    display: flex;
    flex-direction: column;
}

.footer-link-items h2 {
    margin-bottom: 8px;
}

.footer-link-items a {
    text-decoration: none;
    margin-bottom: 5px;
}

.footer-divider {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px auto;
    width: 75%;
}

@media screen and (max-width: 768px) {
    .footer-links {
        flex-direction: column;
    }

    .footer-link-items {
        margin-bottom: 16px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
    }

    .dropdown-content {
        display: none;
        grid-template-columns: repeat(2, minmax(100px, auto)); 
        gap: 10px;
        padding-left: 0; 
        width: 100%; 
        max-width: 300px; 
        margin: 0 auto; 
    }

    .dropdown-content.show {
        display: grid; 
    }

    .dropdown-icon {
        float: right;
        transition: transform 0.3s;
    }

    .dropdown-icon.open {
        transform: rotate(180deg);
    }

    .footer-divider {
        border: none;
    }

    .footer-copyright {
        width: auto;
    }
}

@media screen and (max-width: 400px) {
    .dropdown-content {
        display: none;
        grid-template-columns: repeat(1, minmax(100px, auto)); /* Three columns */
        gap: 10px;
        padding-left: 0; /* Remove left padding */
        width: 100%; 
        max-width: 300px; /* Adjust max width to fit screen */
        margin: 0 auto; /* Center the dropdown */
        margin-left: -20px;
    }
}
