.iconic-container {
	background-color: #102530;
  }
  
  .iconic-content-title {
	padding-bottom: 5px;
	border-bottom: 3px solid transparent;
  }
  
  .iconic-content-title.active {
	color: rgb(0, 237, 130);
	border-bottom: 3px solid rgb(0, 237, 130);
  }
  
  .iconic-content-image {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	justify-content: space-evenly;
	/* flex-direction: column; */
	/* flex-wrap: wrap; */
	max-width: 900px;
	margin: 0 auto;
  }
  
  .iconic-content-image img {
	max-width: 280px;
	transition: transform 0.3s ease-in-out;
  }
  
  .iconic-content-image img:hover {
	transform: scale(1.05);
  }
  
  @media screen and (max-width: 768px) {
	/* .iconic-container{
		padding: 10px 20px;
	} */

	.iconic-content-image {
		grid-template-columns: repeat(2, 1fr);
  }
}