.login-page{
	background-color: #0F222B;
}

  .top-logo {
	display: block;
	margin-bottom: 50px;
	width: 200px;
  }
  
  .login-container {
	height: 100vh;
  }
  
  .login-box {
	padding: 35px;
	border-radius: 20px;
	width: 450px; 
	height: auto; 
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  .go-back-btn {
	position: absolute;
	top: 20px;
	left: 20px;
	background-color: transparent;
	font-size: 16px;
	font-weight: bold;
	border: 2px solid #1CE783;
	padding: 8px 15px;
	border-radius: 5px;
	transition: all 0.3s ease-in-out;
  }
  
  .go-back-btn:hover {
	background-color: #1CE783;
	color: white;
  }
  
  .email-input {
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 10px;
  }
  
  .continue-btn {
	padding: 14px;
	border: none;
	border-radius: 25px; 
  }
  
  .continue-btn:hover {
	background-color: #222;
  }
  
  .footer-tags {
	position: absolute; 
	bottom: 0;
	padding: 15px 0;
	flex-wrap: wrap; 
	font-size: 14px;
  }
  
  .footer-tags a {
	text-decoration: none;
	color: black;
	font-weight: 500;
	white-space: nowrap; 
  }
  
  .footer-tags a:hover {
	text-decoration: underline;
  }
  
  @media screen and (max-width: 600px) {
	.top-logo {
		display: block;
		margin-bottom: 10px;
		width: 150px;
	  }
	  
	  .login-container {
		height: 90vh;
	  }

	.login-box {
		width: 200px; 
	  }

	.footer-tags {
	  flex-direction: row;
	}
  
	.footer-tags a:nth-last-child(2), 
	.footer-tags a:last-child {
	  flex-basis: 100%; 
	  text-align: center;
	  margin-top: 10px;
	}
  }
    @media screen and (max-width: 400px) {
		.top-logo {
			display: block;
			margin-bottom: 15px;
			width: 50px;
		  }

	.login-box {
		width: 250px; 
	  }

	.footer-tags {
	  flex-direction: row;
	}
  
	.footer-tags a:nth-last-child(2), 
	.footer-tags a:last-child {
	  flex-basis: 10%; 
	  text-align: center;
	  margin-top: 10px;
	}
  } 
   